name: infrasructure provisioning 

on: 
  - push
  
env:
  AWS_ACCESS_KEY: ${{ secrets.ACCESS_KEY}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}

jobs:
   terraform-job:
     permissions:
       contents: write
       issues: write
       pull-requests: write
     runs-on: ubuntu-latest
     steps:
        - name: Add semantic-release to PATH
          run: export PATH=$(npm bin):$PATH

        - name: checkout
          uses: actions/checkout@v1
        - name: set terraform
          uses: hashicorp/setup-terraform@v2
          with:
             terraform_version: 1.1.9
        - name: terraform initialisation
          run: terraform init
        - name: terraform validate
          run: terraform validate
        - name: terraform plan
          run: terraform plan
        - name: Grant execute permissions to semantic-release
          run: "chmod +x $(npm bin)/semantic-release"
        - name: release
          run: npx semantic-release
          env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        - name: terraform apply
          run: terraform apply -auto-approve
        - name: terraform destroy
          run: terraform destroy -auto-approve
        

          
            
       

